.inputMessage {
  position: fixed;
  bottom: 0;
  width: 97.9%;
  left: 0;
  background-color: beige;
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
}

.noMessage {
  text-align: center;
  font-size: 30px
}

.heading {
  text-align: center;
}

.message {
  font-size: 25px
}